<div>
<ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
  <li nz-submenu [hidden]="!isLoged">
    <span title>
      <i class="anticon anticon-setting"></i>Competencias</span>
    <ul>
      <li nz-menu-item routerLink="./competition/create">Crear</li>
      <li nz-menu-item routerLink="./competition/show">Mostrar</li>
    </ul>
  </li>
  <li nz-submenu [hidden]="!isLoged">
    <span title>
      <i class="anticon anticon-message"></i>Idiomas</span>
    <ul>
      <li nz-menu-item routerLink="./language/create">Crear</li>
      <li nz-menu-item routerLink="./language/show">Mostrar</li>
    </ul>
  </li>
  <li nz-submenu [hidden]="!isLoged">
    <span title>
      <i class="anticon anticon-compass"></i>Capacitaciones</span>
    <ul>
      <li nz-menu-item routerLink="./training/create">Crear</li>
      <li nz-menu-item routerLink="./training/show">Mostrar</li>
    </ul>
  </li>
  <li nz-submenu [hidden]="!isLoged">
    <span title>
      <i class="anticon anticon-coffee"></i>Puestos</span>
    <ul>
      <li nz-menu-item routerLink="./position/create">Crear</li>
      <li nz-menu-item routerLink="./position/show">Mostrar</li>
    </ul>
  </li>
  <li nz-menu-item [hidden]="isLoged"> 
    <span>
      <i class="anticon anticon-user"></i>
      <span class="nav-text">Candidatos</span>
    </span>
  </li>
  <li nz-menu-item [hidden]="isLoged">
    <span>
      <i class="anticon anticon-user"></i>
      <span class="nav-text">Experiencia laboral</span>
    </span>
  </li>
</ul>
<button class="log-out-button" nz-button nzType="primary" (click)="onSubmit()">Cerrar sesion</button>
</div>