<app-position-update-drawer #drawer></app-position-update-drawer>
<nz-table #basicTable [nzData]="displayData">
  <thead>
    <tr>
      <th>Nombre
        <nz-dropdown nzTrigger="click" [nzClickHide]="false">
          <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue">
            <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
          </div>
        </nz-dropdown>
      </th>
      <th>Nivel de riesgo</th>
      <th>Salario minimo</th>
      <th>Salario maximo</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.riskLevel}}</td>
      <td>{{data.minimumSalary}}</td>
      <td>{{data.maximumSalary}}</td>
      <td>{{data.status}}
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: blue; margin-left:20px;" (click)="drawer.open(data.id)">Actualizar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: blue; margin-left:20px;" (click)="onDelete(data.id)">Borrar</a>
      </td>
    </tr>
  </tbody>
</nz-table>